# Python
venv/
__pycache__/
*.pyc
instance/
*.db

# Environment
.env

# ML artifacts
backend/ml/*.pkl
backend/ml/*.json

# Extra ml folder
cp2/

# Data files (too large)
data/
notebooks/data/

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

backend/.env

backend/.env
